
body{
    height: 100vh;
    
}

li{

    border: grey 1px solid;
    border-radius: 5px;
    height: 300px;
    margin-bottom: 30px;
    list-style: none;

    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 20%;
}

h1{

         font-weight: 900; 

}



.ccard{
    width: 900px;
    height: 400px;

      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; 

      background-color:antiquewhite;
      color: rgb(6, 66, 6);
}

.h1{
    color: rgb(152, 0, 0);
}